/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*-------общие классы-------*/
.button {
  border: var(--main-border);
  background-color: transparent;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  position: relative;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  justify-items: center;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-common, 410);
  background-image: var(--main-cover-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*-------шапка-------*/

.header {
  width: var(--width-to-block, 375px);
  padding: clamp(122px, 119.18px + 0.75vw, 130px) 0;
  display:grid;
  gap: 20px;
  justify-items: center;
  margin-top: 100px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  letter-spacing: 0;
  background-color: white;
  outline: var(--main-border);
  outline-offset: 0px;
  color: black;
  text-transform: uppercase;
}

.header-title {
  align-self: end;
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

.header-text {
  align-self: start;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

/*-------тулово-------*/
.main {
  width: var(--width-to-block, 375px);
  display: grid;
  justify-items: center;
  gap: 50px;
  margin-top: 98px;
  margin-bottom: 100px;
}

.main__card-list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: white;
  border: var(--main-border);
  border-collapse: collapse;
}

.card__header {
  padding: 5px 10px 4px;
  font-size: 18px;
  line-height: 120%;
  font-variation-settings: 'wght' var(--main-font-weight-header, 710);
}

.card__picture {
  display: grid;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  position: relative;
}

.picture {
  width: 100%;
  object-fit: cover;
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-blur {
  filter: blur(0.4em);
}

.filter-grayscale-blur {
  filter: grayscale(1) blur(0.4em);
}

.filter-sepia-saturate {
  filter: sepia(80%) saturate(200%);
}

.filter-hue-rotate {
  filter:hue-rotate(160deg) ;
}

.filter-hue-rotate-drop-shadow {
  filter: hue-rotate(300deg) drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}

.watermark {
  position: absolute;
  justify-self: end;
  inset-block-start: 25px; /* моднее top padding */
  inset-inline-end: 25px; /* моднее right padding */
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-shadow: 0 0 1px var(--stroke, #fff);
  color: black;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-weight: bold;
}

.card__article {
  display: grid;
  gap: 25px;
  padding: 25px 25px;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  gap: 6px;
  justify-self: end;
}

.card__heart-button {
  padding: 0;
  width: 38px;
  height: 38px;
  border-color: transparent;
  transition-property: border-color;
}

.card__heart-button:focus {
  outline: none;
}

.card__heart-button:focus-visible {
  border-color: black;
  transition-duration: 0.3s;
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
}

.card__like-button::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: black;
}

.card__like-button:hover::before {
  width: 100%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.button__text {
  align-self: center;
  color:white;/*да блин, потому что 255-255=0*/
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

/*-------нижний батон-------*/
.button-save {
  display: flex;
  justify-items: center;
  padding: 15px 20px;
  gap: 8px;
  background-color: white;
}

.button-save::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: black;
}

.button-save:hover::before {
  width: 100%;
}

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
  transition-property: box-shadow;
}

.svg-floppy-small {
  width: 21px;
  height: 21px;
  color:white;
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.dialog {
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  column-gap: 20px;
  row-gap: 30px;
  width: clamp(341px, 336.77px + 1.13vw, 353px);
  padding: 30px 30px 0px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  border: var(--main-border);
  text-transform: uppercase;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__svg {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-left: -2px;
  margin-top: -2px;
}

.dialog__text {
  grid-column: 2;
  grid-row: 1;
  line-height: 150%;
}

.dialog__form {
  align-self: end;
  grid-column: 1/3;
  grid-row: 2;
}

.dialog__button {
  width: 100%;
  padding: 9px 17px;
  text-transform: uppercase;
}

.dialog__button::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: black;
}

.dialog__button:hover::before {
  width: 100%;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

.svg-floppy-big {
  width: 39px;
}


/*-------стили для svg сердце-------*/
.contour {
  fill: var(--heart-contour-color, black);
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-animation-color, red);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
  transition-timing-function: linear;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon:hover .main-body {
  fill: black;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon:active .main-body {
  fill: var(--heart-animation-color, red);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-animation-color, red);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
  transition-timing-function: linear;
}

.like-icon:hover .core {
  fill: black;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon:active .core {
  fill: var(--heart-animation-color, red);
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-animation-color, red);
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.sparks {
  fill: var(--heart-animation-color, red);
	opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: increase 0.3s 0.1s ease-in;
}



/*-------медиазапросу и прочие собаки-------*/
@supports (-webkit-text-stroke: 0.01px var(--stroke, white)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 0.01px var(--stroke, white);
  }
} 


@media (width <= 375px) {
  .header {
      outline-offset: -2px;
  }

  .main {
    margin-top: 100px;
  }

  .button-save {
    display: grid;
    padding: 15px 18px;
  }

  .svg-floppy-small {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
  }
}