/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  gap: 100px;
  justify-items: center;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight-common);
  background-image: var(--main-cover-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  height: clamp(327px, 312.56px + 3.85vw, 368px);
  width: clamp(375px, 260.56px + 30.52vw, 700px);
  display:grid;
  gap: 20px;
  justify-items: center;
  margin-top: 100px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  background-color: white;
  border: black solid 2px;
}

.header_title {
  align-self: end;
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

.header_text {
  align-self: start;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

.main {
  /*font-family: var(--accent-font), sans-serif;/**/
  /*font-family: var(--main-font), sans-serif;/**/
  /*font-weight: 650;*/
}

.main__card_list {
  display: grid;
  gap: 50px;
}

.card {
  width: clamp(375px, 260.56px + 30.52vw, 700px);
  background-color: white;
  border: black solid 2px;
  border-collapse: collapse;
}

.card__header {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 120%;
  font-variation-settings: 'wght' var(--main-font-weight-header);/**/
}

.card__picture {
  display: grid;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  position: relative;
}

.picture {
  width: 100%;
  object-fit: cover;
}

.watermark {
  position: absolute;
  justify-self: end;
  inset-block-start: 25px; /* моднее top padding */
  inset-inline-end: 25px; /* моднее right padding */
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px var(--stroke);
  color: black;
}

.card__article {
  display: grid;
  gap: 25px;
  padding: 25px 25px;
  font-size: 18px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  justify-self: end;
}

/*-------медиазапросу и прочие собаки-------*/
@supports (text-stroke: 1px var(--stroke)) {
  .watermark {
    text-stroke: 1px var(--stroke);
  }
} 