/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  gap: 100px;
  justify-items: center;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight-common);
  background-image: var(--main-cover-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: var(--width-to-block);
  padding: clamp(122px, 119.18px + 0.75vw, 130px) 0;
  display:grid;
  gap: 20px;
  justify-items: center;
  margin-top: 100px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  background-color: white;
  outline: var(--main-border);
  outline-offset: -2px;
  color: black;
}

.header_title {
  align-self: end;
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

.header_text {
  align-self: start;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  line-height: 100%;/* вынес из .header что бы расчитывалось относительно этого размера шрифта*/
}

.main {
  width: var(--width-to-block);
  display: grid;
  justify-items: center;
  gap: 50px;
}

.main__card_list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: white;
  border: var(--main-border);
  border-collapse: collapse;
}

.card__header {
  padding: 5px 10px 4px;
  font-size: 18px;
  line-height: 120%;
  font-variation-settings: 'wght' var(--main-font-weight-header);
}

.card__picture {
  display: grid;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  position: relative;
}

.picture {
  width: 100%;
  object-fit: cover;
}

.watermark {
  position: absolute;
  justify-self: end;
  inset-block-start: 25px; /* моднее top padding */
  inset-inline-end: 25px; /* моднее right padding */
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px var(--stroke);
  color: black;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card__article {
  display: grid;
  gap: 25px;
  padding: 25px 25px;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  gap: 12px;
  justify-self: end;
}

.card__heart-button {
  width: 27px;
  height: 24px;
  padding: 0;
  align-self: center;
  justify-items: center;
  border: none;
  background-color: transparent;
}

.card__like-button {
  width: 130px;
  height: 38px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  border: var(--main-border);
  background-color: transparent;
  position: relative;
}

.card__like-button::before{
  content: "";
  top: 0;    
  left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: black;
}

.card__like-button:hover::before{
  width: 100%;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 #000;
  outline: none;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: easy; /*значение по умолчанию, но пусть будет*/
}

.button__text {
  color:white;/*да блин, потому что 255-255=0*/
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.button_save {
  width: 306px;
  display: grid;
  justify-items: center;
  padding: 15px 18px;
  gap: 8px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  border: var(--main-border);
  background-color: white;
}

.svg_floppy_small {
  width: 28px;/*clamp*/
  height: 28px;/*clamp*/
}

.dialog {
  height: 191px;
  padding: 30px 40px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  border: var(--main-border);
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__svg {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-left: -2px;
  margin-top: -2px;
}

.dialog__text{
  grid-column: 2;
  grid-row: 1;
  line-height: 150%;
}

.dialog__form {
  align-self: end;
  grid-column: 1/3;
  grid-row: 2;
}

.dialog__button {
  width: 100%;
  padding: 9px 17px;
  line-height: 90%;
  border: var(--main-border);
  background-color: transparent;
}

.svg_floppy_big {
  width: 39px;/*clamp*/
}


/*-------стили для svg сердце-------*/
.contour {
  fill: var(--heart-contour-color);
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
  transition-timing-function: linear;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon:hover .main-body{
  fill: black;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon:active .main-body{
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
  transition-timing-function: linear;
}

.like-icon:hover .core{
  fill: black;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon:active .core{
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.like-icon.is-liked .sparks {
  fill: var(--heart-animation-color);
  transition-duration: 0.3s;
/*тут еще добавить*/
}



/*-------медиазапросу и прочие собаки-------*/
@supports (-webkit-text-stroke: 0.01px var(--stroke)) or (text-stroke: 1px var(--stroke)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 0.01px var(--stroke);
    text-stroke: 1px var(--stroke);
  }
} 

@media (width >= 1440px) {
  .page {
    gap: 98px;
  }

  .header {
      outline-offset: 0px;
  }
}