/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-cover-image:
        repeating-linear-gradient(
            90deg, 
            rgb(211 211 211),
            rgb(211 211 211) 2px,  
            rgb(211 211 211 / 0) 2px, 
            rgb(211 211 211 / 0) 4px), /*#d3d3d3 - 211 211 211*/
        repeating-linear-gradient(
            rgb(211 211 211), 
            rgb(211 211 211) 2px, 
            rgb(211 211 211 / 0) 2px, 
            rgb(211 211 211 / 0) 4px),
        repeating-linear-gradient(
            #e7e7e7, 
            #1a1a1a);

    --main-font: Inter-Variable; 
    --main-font-weight-header: 710;
    --main-font-weight-common: 410;
    --accent-font: PressStart2P;
    --stroke: #fff;
    --width-to-block: clamp(375px, 260.56px + 30.52vw, 700px);
    --main-border: 2px solid black;
    --heart-contour-color: black;
    --heart-sparks-color: transparent;
    --heart-animation-color: red;
}